<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }}">
{# this would be where the header imge would go, but we've decided not to include it #}
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.hero_align|default('center') }}">
        {{ content|raw }}
    </section>
</section>
